<h1>Página de Estudos Ruby On Rails</h1>
<p>Find me in app/views/home/index.html.erb</p>

<% @posts.each do |post| %>
  <% if post.descricao?%>
    <h1> <%= link_to post.titulo , post %> </h1>
  <%end%>
<% end %>

<%= link_to "Posts", posts_path%>
